doctype html

html(lang="en-GB")

  head
    title Todo App
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascript/application.js")

  body
    header 
      h1 Todo Tracker
      block headerLinks

    main
      - const flashTypes = Object.keys(flash || {})
      if flashTypes.length > 0
        ul 
          each flashType in flashTypes 
            each message in flash[flashType]
              li.flash(class=flashType)= message

      block main

  footer
    block signIn
      if !signedIn
        form(action="/users/signin" method="get")
          fieldset.action
            p You are not signed in
            button Sign In
      else
        form(action="/users/signout" method="post")
          fieldset.action
            p Signed in as #{username}
            button Sign Out

